*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  position: relative;
  box-sizing: border-box;

  height: 100%;
  background: #1d121f linear-gradient(90deg, #1d121f, #270a17);
}

body {
  @include main-text();
  color: $color-text-dark;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 100%;
  min-height: 1000px;

  background: url("../img/vinyl.png") center no-repeat;
}

img {
  max-width: 100%;
  height: auto;
}
