# Файлы и директории операционной системы
.DS_Store
Thumbs.db

# Файлы редактора
.idea
*.sublime*

# Вспомогательные файлы и директории
*.log*
node_modules/
npm-debug.*
package-lock.json

# Директория с собранными файлами проекта
build/
