.artist {
  position: relative;
  width: 134px;
  color: var(--color-text-dark);
  text-align: center;
  cursor: pointer;
}

.artist__picture {
  margin-bottom: 5px;
  width: 134px;
  height: 134px;
  border: solid 5px var(--color-text-dark);
  border-radius: 134px;
  object-fit: cover;
  background-color: var(--color-beige);
  cursor: pointer;

  @nest .artist:hover & {
    border-color: var(--color-orange);
  }

  @nest .artist__input:focus + .artist__name & {
    border-color: var(--color-orange);
  }

  @nest .artist:active & {
    border-color: var(--color-hover);
  }
}

.artist__text {
  margin: 0;
  margin-bottom: 5px;
}

.artist__time {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  width: 134px;
  color: #ffffff;
  font-weight: 500;
}
