.footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;

  width: var(--layout_width);
}

.copyright {
  text-align: right;
  color: var(--color_beige);
  white-space: nowrap;
}

.copyright__logo {
  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.copyright__text {
  margin: 0;
  margin-top: 10px;
}

.copyright__link {
  color: var(--color_orange);

  &:hover,
  &:focus {
    color: var(--color_hover);
  }
}
