@use "sass:color";

@mixin color {
  $color-orange: #ff9749;

  --color_beige: #f0eed5;
  --color_orange: #{$color-orange};
  --color_hover: #f00000;
  --color_text-dark: #230d1a;
  --color_text-grey: #808080;
  --color_correct: #36b742;
  --color_orange-lighten: #{color.scale($color-orange, $lightness: +15%)};
  --color_orange-grayscale: #{color.grayscale($color-orange)};
}
