.artist {
  position: relative;
  width: 134px;
  color: var(--color-text-dark);
  text-align: center;
  cursor: pointer;
}

.artist__picture {
  width: 134px;
  height: 134px;
  margin-bottom: 5px;
  background-color: var(--color-beige);
  object-fit: cover;
  border: solid 5px var(--color-text-dark);
  border-radius: 134px;
  cursor: pointer;
}

.artist:hover .artist__picture,
.artist__input:focus + .artist__name .artist__picture {
  border-color: var(--color-orange);
}

.artist:active .artist__picture {
  border-color: var(--color-hover);
}

.artist__text {
  margin: 0;
  margin-bottom: 5px;
}

.artist__time {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  width: 134px;
  color: #ffffff;
  font-weight: 500;
}
